<!-- Horizontal Steppers -->
<div class="row">
  <div class="col"></div>
  <div class="col-md-8">
    <!-- Vertical Steppers -->
    <div class="row mt-1">
      <div class="col-md-12">

        <!-- Stepers Wrapper -->
        <ul class="stepper stepper-vertical" *ngIf="!loading">

          <li class="active" *ngFor="let question of quiz.questions; let i = index">

            <!--Section Title -->
            <a>
              <span class="circle">{{i + 1}}</span>
              <span class="label">{{ question.name }}</span>
            </a>

            <!-- Section Description -->
            <div class="step-content lighten-3">

              <br>
              <form class="text-center">
                <b> <u>Question :</u></b>
                <p class="h4 mb-4" styl> - {{question.value}}</p>
                <b><u>Reponse :</u></b><br>

                <!-- Default inline 1-->
                <mdb-checkbox [inline]="true" [default]="true" [value]="answer" *ngFor="let answer of question.answers" (change)="checkChanged($event, question, answer)">{{answer.value}}</mdb-checkbox>

                <br><br>

                <!-- <button type="button" mdbBtn style="height: 30px; width: 100px; font-size: 0.3em; padding: 0" color="light" (click)="nextQuestion(i)" mdbWavesEffect>Previous</button> -->
                <!-- <button type="button" mdbBtn style="height: 30px; width: 100px; font-size: 0.3em; padding: 0" color="blue" (click)="validate(question, )" mdbWavesEffect>Valider</button> -->
              </form>
              <br>
            </div>
          </li>

        </ul>
        <!-- /.Stepers Wrapper -->

      </div>
    </div>

    <!-- Steppers Navigation -->
    <div class="row mt-1">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary" (click)="submitQuiz()">Valider le Quiz</button>
      </div>
    </div>
    <!-- /.Vertical Steppers -->
  </div>
  <div class="col"></div>
</div>
<!-- /.Horizontal Steppers -->