<div *ngIf="auth.isAuthenticated()">
  <br><br><br><br><br><br><br><br><br>
  <form class="text-center p-5">

    <div class="btn-group" role="group" aria-label="Basic example" *ngIf="roleService.getConnectedRole() === 'ADMIN'">
      <button mdbBtn type="button" color="light" class="waves-light home-btn" mdbWavesEffect routerLink="/candidats">
        <mat-icon>person</mat-icon><br>
        <span>
          Candidats
        </span>
      </button>
      <button mdbBtn type="button" color="light" class="waves-light home-btn" mdbWavesEffect routerLink="/quizzes">
        <mat-icon>poll</mat-icon><br>
        <span>
          Quizzes
        </span>
      </button>
      <button mdbBtn type="button" color="light" class="waves-light home-btn" mdbWavesEffect routerLink="/questions">
        <mat-icon>help</mat-icon><br>
        <span>
          Questions
        </span>
      </button>
    </div>


    <div class="btn-group" role="group" aria-label="Basic example" *ngIf="roleService.getConnectedRole() === 'USER'">
      <button mdbBtn type="button" color="light" class="waves-light home-btn" mdbWavesEffect routerLink="/quiz">
        <mat-icon>start</mat-icon><br>
        <span>
          Demarrer le Quiz
        </span>
      </button>
      <button mdbBtn type="button" color="light" class="waves-light home-btn" mdbWavesEffect routerLink="/result">
        <mat-icon>poll</mat-icon><br>
        <span>
          Resultat du Quiz
        </span>
      </button>
    </div>

  </form>
</div>
<app-login *ngIf="!auth.isAuthenticated()"></app-login>