<ng-container class="font-small unique-color-dark pt-4">
  <mat-toolbar color="primary" *ngIf="authenticated">
    <a mat-button color="secondary" routerLink="home">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <span>Accueil</span>
    </a>

    <!-- ADMIN menu -->

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="quizMenu" *ngIf="connectedRole === 'ADMIN'">
      <mat-icon>poll</mat-icon>
      <span>Quiz</span>
    </button>

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="questionMenu" *ngIf="connectedRole === 'ADMIN'">
      <mat-icon>help</mat-icon>
      <span>Questions</span>
    </button>

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="candidatMenu" *ngIf="connectedRole === 'ADMIN'">
      <mat-icon>person</mat-icon>
      <span>Candidats</span>
    </button>

    <!-- Candidat menu -->

    <button class="mat-button-menu" mat-button routerLink="quiz" *ngIf="connectedRole === 'USER'">
      <mat-icon>help</mat-icon>&nbsp;
      <span>Demarrer le Quiz</span>
    </button>

    <button class="mat-button-menu" mat-button routerLink="result" *ngIf="connectedRole === 'USER'">
      <mat-icon>poll</mat-icon>&nbsp;
      <span>Voir les resultats </span>
    </button>

    <span class="fill-remaining-space"></span>

    <span class="welcome-span" *ngIf="authenticated">Signed in as <b>{{connectedUser?.account.username}}</b></span>
    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="authMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #quizMenu="matMenu">
      <a mat-menu-item routerLink="quiz/form">
        <mat-icon>add</mat-icon>
        <span>Ajout Quiz</span>
      </a>
      <a mat-menu-item routerLink="quizzes">
        <mat-icon>list</mat-icon>
        <span>Liste des quizzes</span>
      </a>
    </mat-menu>

    <mat-menu #authMenu="matMenu">
      <a mat-menu-item routerLink="candidat/form">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-menu-item (click)="logout()">
        <mat-icon>clear</mat-icon>
        <span>Deconnexion</span>
      </a>
    </mat-menu>

    <mat-menu #questionMenu="matMenu">
      <a mat-menu-item routerLink="question/form">
        <mat-icon>add</mat-icon>
        <span>Ajout Question</span>
      </a>
      <a mat-menu-item routerLink="questions">
        <mat-icon>list</mat-icon>
        <span>Liste des questions</span>
      </a>
    </mat-menu>

    <mat-menu #candidatMenu="matMenu">
      <a mat-menu-item routerLink="candidat/form">
        <mat-icon>add</mat-icon>
        <span>Ajout Candidats</span>
      </a>
      <a mat-menu-item routerLink="candidats">
        <mat-icon>menu</mat-icon>
        <span>Liste des Candidats</span>
      </a>
    </mat-menu>

  </mat-toolbar>

  <mat-toolbar color="primary" *ngIf="!authenticated">

    <a mat-button color="primary" routerLink="">
      <mat-icon>home</mat-icon>&nbsp;
      <span>RH Quiz Application</span>
    </a>

    <span class="fill-remaining-space"></span>

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="authmenu">
      <!-- <mat-icon>security</mat-icon> -->
      <span>Connexion/inscription</span>
    </button>

    <mat-menu #authmenu="matMenu">

      <a routerLink="login" mat-menu-item color="primary">
        <span>Connexion</span>
      </a>

      <a routerLink="signup" mat-menu-item color="primary">
        <span>Inscription</span>
      </a>
    </mat-menu>


  </mat-toolbar>
</ng-container>