<ng-container class="font-small unique-color-dark pt-4">
  <mat-toolbar color="primary" *ngIf="authenticated">
    <a mat-button color="secondary" routerLink="home">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <span>HOME</span>
    </a>

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="quizMenu">
      <mat-icon>poll</mat-icon>
      <span>Quiz</span>
    </button>

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="questionMenu">
      <mat-icon>help</mat-icon>
      <span>Questions</span>
    </button>

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="candidatMenu">
      <mat-icon>person</mat-icon>
      <span>Candidats</span>
    </button>

    <span class="fill-remaining-space"></span>
    <span class="welcome-span" *ngIf="authenticated">Signed in as <b>{{connectedUser?.account.username}}</b></span>
    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="authMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #quizMenu="matMenu">
      <a mat-menu-item routerLink="quiz/form">
        <mat-icon>add</mat-icon>
        <span>Add Quiz</span>
      </a>
      <a mat-menu-item routerLink="quizzes">
        <mat-icon>list</mat-icon>
        <span>View quizzes</span>
      </a>
    </mat-menu>

    <mat-menu #authMenu="matMenu">
      <a mat-menu-item routerLink="profil">
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </a>
      <a mat-menu-item (click)="logout()">
        <mat-icon>clear</mat-icon>
        <span>Deconnexion</span>
      </a>
    </mat-menu>

    <mat-menu #questionMenu="matMenu">
      <a mat-menu-item routerLink="question/form">
        <mat-icon>add</mat-icon>
        <span>Add Question</span>
      </a>
      <a mat-menu-item routerLink="questions">
        <mat-icon>list</mat-icon>
        <span>View questions</span>
      </a>
    </mat-menu>

    <mat-menu #candidatMenu="matMenu">
      <a mat-menu-item routerLink="candidats">
        <mat-icon>menu</mat-icon>
        <span>View Candidats</span>
      </a>
    </mat-menu>

  </mat-toolbar>


  <mat-toolbar color="primary" *ngIf="!authenticated">

    <a mat-button color="primary" routerLink="">
      <mat-icon>home</mat-icon>&nbsp;
      <span>My Application</span>
    </a>

    <span class="fill-remaining-space"></span>


    <a mat-button color="primary" routerLink="">
      <!-- <mat-icon>home</mat-icon>&nbsp; -->
      <span>Accueil</span>
    </a>

    <button class="mat-button-menu" mat-button [matMenuTriggerFor]="authmenu">
      <!-- <mat-icon>security</mat-icon> -->
      <span>Sign in/up</span>
    </button>

    <mat-menu #authmenu="matMenu">

      <a routerLink="login" mat-menu-item color="primary">
        <span>Login</span>
      </a>

      <a routerLink="signup" mat-menu-item color="primary">
        <span>Register</span>
      </a>
    </mat-menu>


  </mat-toolbar>
</ng-container>