<br><br>
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Candidats list</p>
</form>
<br><br>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-10">
      <table mdbTable responsive="true">
        <thead>
          <tr>
            <th style="width: 120px" *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of candidats">
            <th scope="row">{{el.id}}</th>
            <td>{{el.firstName}}</td>
            <td>{{el.lastName}}</td>
            <td>{{el.email}}</td>
            <td>{{el.result}}</td>
            <td>
              <button type="button" mdbBtn color="light" [routerLink]="['/candidat/form/', el.id]" router mdbWavesEffect>Edit</button>
              <button type="button" mdbBtn color="dark" (click)="deleteCandidat(el.id)" mdbWavesEffect>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col">
    </div>
  </div>
</div>