<br><br>
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Candidats list</p>
</form>
<br><br>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-10">
      <table mdbTable responsive="true">
        <thead>
          <tr>
            <th style="width: 120px" *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td>{{el.heading2}}</td>
            <td>{{el.heading3}}</td>
            <td>{{el.heading4}}</td>
            <td>{{el.heading5}}</td>
            <td>
              <button type="button" mdbBtn color="light" mdbWavesEffect>Edit</button>
              <button type="button" mdbBtn color="dark" mdbWavesEffect>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col">
    </div>
  </div>
</div>