<br><br>
<div class="container margin-top">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">

      <!-- Default form contact -->
      <form class="text-center border border-light p-5">

        <p class="h4 mb-4">New Question</p>

        <!-- Name -->
        <input type="text" id="quizname" class="form-control mb-4" placeholder="Name">

        <!-- Subject -->
        <select class="custom-select">
          <option value="1">Category 1</option>
          <option value="2">Category 2</option>
          <option value="3">Category 3</option>
        </select>
        <br>
        <br>
        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Create Question</button>

      </form>
      <!-- Default form contact -->

    </div>
    <div class="col">
    </div>
  </div>
</div>