<br><br>
<div class="container margin-top">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">

      <!-- Default form contact -->
      <form class="text-center border border-light p-5" *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()"
        #signupForm="ngForm">

        <p class="h4 mb-4">New Question</p>

        <!-- Name -->
        <div class="md-form">
          <input mdbInput type="text" formControlName="name" id="quizname" class="form-control mb-4" placeholder="Name">
        </div>

        <!-- Value -->
        <div class="md-form">
          <input mdbInput type="text" formControlName="value" id="quizvalue" class="form-control mb-4"
            placeholder="Value">
        </div>

        <!-- Subject -->
        <label for="answer" class="">Category</label>

        <select mdbInput class="custom-select" formControlName="category">
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Expert">Expert</option>
        </select>

        <div class="md-form">
          <input mdbInput type="text" formControlName="answer" id="quizanswer" class="form-control mb-4" placeholder="Answer">
          <button [disabled]="!form.value.answer" type="button" flobuttonting="true" size="sm" mdbWavesEffect
            (click)="addAnswer()">
            <mdb-icon fas icon="plus"></mdb-icon>
            <span>&nbsp;Add</span>
          </button>
        </div>
        <h4>
          <mdb-badge info="true" *ngFor="let answer of answers">{{answer.value}}&nbsp;&nbsp;
            <mdb-icon style="cursor: pointer" (click)="removeAnswer(answer)" fas icon="trash"></mdb-icon>
          </mdb-badge>&nbsp;&nbsp;
        </h4>

        <br>
        <br>

        <!-- Create button -->
        <button class="btn btn-info btn-block" type="submit">Save Question</button>

      </form>
      <!-- Default form contact -->

    </div>
    <div class="col">
    </div>
  </div>
</div>